html,
body {
padding: 0;
margin: 0;
letter-spacing: 1px;
font-family: 'Roboto', sans-serif;
background:url(../image/b1.jpg) no-repeat center fixed;

}

.contenedor{
    border-style: solid;
    width: 500px;
    margin:auto;
    text-align:center;
   
}
.header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
   
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}


.avatar {
    border-radius: 60%;
    object-fit: cover;
    object-position: center;
    height: 150px;
    width: 150px;

    /* opacity: 0.4; */

  }

  .card{
       background-color:cadetblue;
       width: 40%;
       position:relative;
       left: 340px;
       opacity: 1.0;
    

   
  }
  .form-group{
   
    width: 80%;
    position:relative;
    left: 42px;

  }
  .boton{
    width: 30%;
    position:relative;
    left: 160px;
  }
  .botoninicio{
    width: 100%;
  
  }
  .registro{
      margin-top: 10px;
      background-color:cadetblue;
  }
 
  a{
      color:black;
  }
  
  #footer{
    margin-top:50px;
    width:100%;
    height:50px;
    background-color:gray;
    color: chartreuse;
    }

   .tablapersonas{
      border-color: hotpink;
   }

   .input-group.mb-3{

    width: 80%;
    position:relative;
    left: 42px;

   }
   .custom-select{
    width: 200%;
    position:relative;
    left: 42px;


   }
   #inputGroupSelect02{
    width: 80%;
    position:relative;
    left: 42px;

   }